<?xml version="1.0" encoding="UTF-8" ?>

<launch>
<arg name="bagname" default="arsi" />

<node name="rfexplorer1" pkg="wifi" type="rfexplorer" respawn="true" ns="rfexplorer1">
	<param name="port" value="/dev/ttyUSB2"/>
	<param name="lower_freq_MHz" value="423"/>
	<param name="upper_freq_MHz" value="443"/>
</node>	

<node name="rfexplorer2" pkg="wifi" type="rfexplorer" respawn="true" ns="rfexplorer2">
	<param name="port" value="/dev/ttyUSB3"/>
	<param name="lower_freq_MHz" value="858"/>
	<param name="upper_freq_MHz" value="878"/>
</node>	

<node name="wifi" pkg="wifi" type="receiver" respawn="true">
        <param name="freq" value="2437"/>
	<param name="interface" value="wlan10"/>
	<param name="one_topic_per_sender" value="true"/>
</node>

<node name="rosbag" pkg="rosbag" type="record" args="-a -o $(arg bagname)" respawn="true">                          
</node>

</launch>
